

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#flightHeader {
    text-align: center;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:yellow;
    font-weight: bold;
}

#brand {
    font-weight: bold;
    color:#c8102e!important;
    text-shadow: #0f0f0f 1px 0 1px;
}

.navbar-custom {
    background-color: #003a70!important;
}
.btn-custom {
    background-color: #003a70;
    color: white;
}
.btn-custom:hover {
    color: #c8102e;
}

.jumbotron {
    text-align: center;
    background-color: rgba(134, 38, 51);
    color: ghostwhite;
    text-shadow: black 1px 1px 1px;
    font-weight: bold;
    clip-path: polygon(0 0%, 50% 3%,100% 0%, 100% 100%,0% 100%);
    margin-bottom: 5em;
}
.jumbotron img {
    border:5px solid rgba(0,0,250,.5);
    margin-top:2rem;
    border-radius: 5%;
}
.jumbotron a.btn {
    margin-bottom:2rem;
}

.art-img-header {
    text-align: center;
    color: #003a70;
}















